*{
	margin: 0;
	padding: 0;
}

#log{
	position: fixed;
	top : 50px;
	left : calc(50% - 200px);
	right : calc(50% - 200px);
	bottom: 130px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	overflow-y: auto;
	padding: 10px;
	background-color: #bdd1dc;
}

#msgBar{
	position: fixed;
	left: calc(50% - 200px);
	right : calc(50% - 200px);
	bottom: 50px;
	height: 80px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}

#msgArea{
	border: none;
	resize: none;
	outline: none;
	width: 320px;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	font-size: 14px;
}

#msgARea + a{
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 4px;
	vertical-align: top;
	text-align: center;
	line-height: 70px;
	box-sizing: border-box;
	border: 1px solid #d3d2d0;
	border-radius: 10px;
	color:#d3d2d0;
	background-color: #f9f9f9;
}

#msgArea + a.active{
	background-color: #ffed00;
	color: #533738;
}

.msg{
	max-width: 60%;
	clear:both;
}

.msg_name, .msg_date{
	font-size:10px;
	padding: 4px 0;
	color: #555555;
}

.msg_msg{
	display: inline-block;
	border-radius: 3px;
	padding: 4px 8px;
	box-shadow: 1px 1px 0px #888888;
	font-size:12px;
	background-color: white;
}

.msg.left{
	float : left;
}

.msg.right{
	float:right;
}

.msg.right .msg_name,
.msg.right .msg_date{
	text-align: right;
	clear:both;
}

.msg.right .msg_msg{
	background-color: #ffed00;
	float:right;
}

.msg_tmp{
	display: none;
	position: absolute;
}

